body {
  text-align: center;
}
.container {
  width: 310px;
  height: 310px;
  margin: auto;
}
#box1,
#box2,
#box3,
#box4 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  color: #0000;
}
#box1 {
  background-image: url("1.png");
}
#box2 {
  background-image: url("2.png");
}
#box3 {
  background-image: url("3.png");
}
#box4 {
  background-image: url("4.png");
}
